<!-- SECTION -->
<div class="section">
    <!-- CONTAINER -->
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <!-- Main Column -->
            <div class="col-md-8">

                <!-- ARTICLE POST -->
                <article class="article article-post">
                    <div class="article-share">
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                    <div class="article-main-img">
                        <iframe frameborder="0" src="{{data.video.videoLink}}" class="embed-responsive-item" width="100%" height="480"></iframe>
                    </div>
                    <div class="article-body">
                        <ul class="article-info">
                            <li class="article-category">
                                <a>Video</a>
                            </li>
                            <li class="article-type">
                                <i class="fa fa-video-camera"></i>
                            </li>
                        </ul>
                        <h1 class="article-title">{{data.video.title}}</h1>
                        <ul class="article-meta">
                            <li>
                                <i class="fa fa-clock-o"></i> {{data.video.date}}</li>
                        </ul>
                        <div>
                            {{{data.video.description}}}
                        </div>
                    </div>
                </article>
                <!-- /ARTICLE POST -->
            </div>
            <!-- /Main Column -->

            <!-- Aside Column -->
            <div class="col-md-4">
                <!-- Ad widget -->
                <div class="widget center-block hidden-xs">
                    <img class="center-block" src="/img/ad-1.jpg" alt="">
                </div>
                <!-- /Ad widget -->

                <!-- social widget -->
                <div class="widget social-widget">
                    <div class="widget-title">
                        <h2 class="title">Stay Connected</h2>
                    </div>
                    <ul>
                        <li>
                            <a href="#" class="facebook">
                                <i class="fa fa-facebook"></i>
                                <br>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <i class="fa fa-twitter"></i>
                                <br>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="google">
                                <i class="fa fa-google"></i>
                                <br>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <i class="fa fa-instagram"></i>
                                <br>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="youtube">
                                <i class="fa fa-youtube"></i>
                                <br>
                                <span>Youtube</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="rss">
                                <i class="fa fa-rss"></i>
                                <br>
                                <span>RSS</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /social widget -->

                <!-- subscribe widget -->
                <div class="widget subscribe-widget">
                    <div class="widget-title">
                        <h2 class="title">Subscribe to Newslatter</h2>
                    </div>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="input-btn">Subscribe</button>
                    </form>
                </div>
                <!-- /subscribe widget -->
            </div>
            <!-- /Aside Column -->
        </div>
        <!-- /ROW -->
    </div>
    <!-- /CONTAINER -->
</div>
<!-- /SECTION -->

<!-- AD SECTION -->
<div class="visible-lg visible-md">
    <img class="center-block" src="/img/ad-3.jpg" alt="">
</div>
<!-- /AD SECTION -->

<!-- SECTION -->
<div class="section">
    <!-- CONTAINER -->
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <!-- Main Column -->
            <div class="col-md-12">
                <!-- section title -->
                <div class="section-title">
                    <h2 class="title">Latest Videos</h2>
                </div>
                <!-- /section title -->

                <!-- row -->
                <div class="row">
                    {{#each data.latestVideos}}
                    <!-- Column -->
                    <div class="col-md-3 col-sm-6">
                        <!-- ARTICLE -->
                        <article class="article">
                            <div class="article-img">
                                <a href="#">
                                    <img src="{{this.thumbnail.secure_url}}" alt="">
                                </a>
                                <ul class="article-info">
                                    <li class="article-type">
                                        <i class="fa fa-video-camera"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="article-body">
                                <h4 class="article-title">
                                    <a href="/video/{{this.slug}}">{{this.title}}</a>
                                </h4>
                                <ul class="article-meta">
                                    <li>
                                        <i class="fa fa-clock-o"></i> {{this.date}}</li>
                                </ul>
                            </div>
                        </article>
                        <!-- /ARTICLE -->
                    </div>
                    <!-- /Column -->
                    {{/each}}
                </div>
                <!-- /row -->
            </div>
            <!-- /Main Column -->
        </div>
        <!-- /ROW -->
    </div>
    <!-- /CONTAINER -->
</div>
<!-- /SECTION -->