<div class="col-md-6 col-sm-6">
    <!-- section title -->
    <div class="section-title">
        <h2 class="title">Business</h2>
    </div>
    <!-- /section title -->
    <!-- ARTICLE -->
    <article class="article">
        <div class="article-img">
            <a href="/{{data.business.1.category}}/article/{{data.business.1.slug}}">
                <img src="{{data.business.1.image.secure_url}}" alt="">
            </a>
            <ul class="article-info">
                <li class="article-type">
                    <i class="fa fa-camera"></i>
                </li>
            </ul>
        </div>
        <div class="article-body">
            <h3 class="article-title">
                <a href="/{{data.business.1.category}}/article/{{data.business.1.slug}}">{{data.business.1.title}}</a>
            </h3>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{data.business.1.date}}</li>
            </ul>
            <p>{{{data.business.1.content.brief}}}</p>
        </div>
    </article>
    <!-- /ARTICLE -->

    <!-- ARTICLE -->
    <article class="article widget-article">
        <div class="article-img">
            <a href="/{{data.business.2.category}}/article/{{data.business.2.slug}}">
                <img src="{{data.business.2.image.secure_url}}" alt="">
            </a>
        </div>
        <div class="article-body">
            <h4 class="article-title">
                <a href="/{{data.business.2.category}}/article/{{data.business.2.slug}}">{{data.business.2.title}}</a>
            </h4>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{data.business.2.date}}</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->

    <!-- ARTICLE -->
    <article class="article widget-article">
        <div class="article-img">
            <a href="/{{data.business.3.category}}/article/{{data.business.3.slug}}">
                <img src="{{data.business.3.image.secure_url}}" alt="">
            </a>
        </div>
        <div class="article-body">
            <h4 class="article-title">
                <a href="/{{data.business.3.category}}/article/{{data.business.3.slug}}">{{data.business.3.title}}</a>
            </h4>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{data.business.3.date}}</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->
</div>