<!-- ARTICLE -->
<article class="article thumb-article">
    <div class="article-img">
        <img src="{{data.settings.top1.image.secure_url}}" alt="">
    </div>
    <div class="article-body">
        <ul class="article-info">
            <li class="article-category">
                <a href="/{{data.settings.top1.category}}">{{data.settings.top1.category}}</a>
            </li>
            <li class="article-type">
                <i class="fa fa-file-text"></i>
            </li>
        </ul>
        <h2 class="article-title">
            <a href="/{{data.settings.top1.category}}/article/{{data.settings.top1.slug}}">{{data.settings.top1.title}}</a>
        </h2>
    </div>
</article>
<!-- /ARTICLE -->

<!-- ARTICLE -->
<article class="article thumb-article">
    <div class="article-img">
        <img src="{{data.settings.top2.image.secure_url}}" alt="">
    </div>
    <div class="article-body">
        <ul class="article-info">
            <li class="article-category">
                <a href="/{{data.settings.top2.category}}">{{data.settings.top2.category}}</a>
            </li>
            <li class="article-type">
                <i class="fa fa-file-text"></i>
            </li>
        </ul>
        <h2 class="article-title">
            <a href="/{{data.settings.top2.category}}/article/{{data.settings.top2.slug}}">{{data.settings.top2.title}}</a>
        </h2>
    </div>
</article>
<!-- /ARTICLE -->

<!-- ARTICLE -->
<article class="article thumb-article">
    <div class="article-img">
        <img src="{{data.settings.top3.image.secure_url}}" alt="">
    </div>
    <div class="article-body">
        <ul class="article-info">
            <li class="article-category">
                <a href="/{{data.settings.top3.category}}">{{data.settings.top3.category}}</a>
            </li>
            <li class="article-type">
                <i class="fa fa-file-text"></i>
            </li>
        </ul>
        <h2 class="article-title">
            <a href="/{{data.settings.top3.category}}/article/{{data.settings.top3.slug}}">{{data.settings.top3.title}}</a>
        </h2>
    </div>
</article>
<!-- /ARTICLE -->