<!-- SPORTS SECTION -->
<div class="col-md-12 col-sm-12">
    <!-- section title -->
    <div class="section-title">
        <h2 class="title">Sports</h2>
    </div>
    <!-- /section title -->

    <!-- ARTICLE -->
    <article class="article">
        <div class="article-img">
            <a href="/{{data.sports.0.category}}/article/{{data.sports.0.slug}}">
                <img src="{{data.sports.0.image.secure_url}}" alt="">
            </a>
            <ul class="article-info">
                <li class="article-type">
                    <i class="fa fa-camera"></i>
                </li>
            </ul>
        </div>
        <div class="article-body">
            <h3 class="article-title">
                <a href="/{{data.sports.0.category}}/article/{{data.sports.0.slug}}">{{data.sports.0.title}}</a>
            </h3>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{data.sports.0.date}}</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->

    <!-- ARTICLE -->
    <article class="article widget-article">
        <div class="article-img">
            <a href="/{{data.sports.1.category}}/article/{{data.sports.1.slug}}">
                <img src="{{data.sports.1.image.securel_url}}" alt="">
            </a>
        </div>
        <div class="article-body">
            <h4 class="article-title">
                <a href="/{{data.sports.1.category}}/article/{{data.sports.1.slug}}">{{data.sports.1.title}}</a>
            </h4>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{data.sports.1.date}}</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->

    <!-- ARTICLE -->
    <article class="article widget-article">
        <div class="article-img">
            <a href="/{{data.sports.2.category}}/article/{{data.sports.2.slug}}">
                <img src="{{data.sports.2.image.secure_url}}" alt="">
            </a>
        </div>
        <div class="article-body">
            <h4 class="article-title">
                <a href="/{{data.sports.2.category}}/article/{{data.sports.2.slug}}">{{data.sports.2.title}}</a>
            </h4>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{data.sports.2.date}}</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->
    <!-- ARTICLE -->
    <article class="article widget-article">
        <div class="article-img">
            <a href="/{{data.sports.3.category}}/article/{{data.sports.3.slug}}">
                <img src="{{data.sports.3.image.secure_url}}" alt="">
            </a>
        </div>
        <div class="article-body">
            <h4 class="article-title">
                <a href="/{{data.sports.3.category}}/article/{{data.sports.3.slug}}">{{data.sports.3.title}}</a>
            </h4>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{data.sports.3.date}}</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->

    <!-- ARTICLE -->
    <article class="article widget-article">
        <div class="article-img">
            <a href="/{{data.sports.4.category}}/article/{{data.sports.4.slug}}">
                <img src="{{data.sports.4.image.secure_url}}" alt="">
            </a>
        </div>
        <div class="article-body">
            <h4 class="article-title">
                <a href="/{{data.sports.4.category}}/article/{{data.sports.4.slug}}">{{data.sports.4.title}}</a>
            </h4>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{data.sports.4.date}}</li>
            </ul>
        </div>
    </article>
    <!-- /ARTICLE -->
</div>
<!-- /SPORTS SECTION -->