<div class="row">
    <!-- section title -->
    <div class="col-md-12">
        <div class="section-title">
            <h2 class="title">World</h2>
        </div>
    </div>
    <!-- /section title -->

    <!-- Column 1 -->
    <div class="col-md-6 col-sm-6">
        <!-- ARTICLE -->
        <article class="article">
            <div class="article-img">
                <a href="/{{data.world.1.category}}/article/{{data.world.1.slug}}">
                    <img src="{{data.world.1.image.secure_url}}" alt="">
                </a>
                <ul class="article-info">
                    <li class="article-type">
                        <i class="fa fa-camera"></i>
                    </li>
                </ul>
            </div>
            <div class="article-body">
                <h3 class="article-title">
                    <a href="/{{data.world.1.category}}/article/{{data.world.1.slug}}">{{data.world.1.title}}</a>
                </h3>
                <ul class="article-meta">
                    <li>
                        <i class="fa fa-clock-o"></i> {{data.world.1.date}}</li>
                </ul>
                <p>{{{data.world.1.content.brief}}}</p>
            </div>
        </article>
        <!-- /ARTICLE -->
    </div>
    <!-- /Column 1 -->

    <!-- /Column 2 -->
    <div class="col-md-6 col-sm-6">
        <!-- ARTICLE -->
        <article class="article">
            <div class="article-img">
                <a href="/{{data.world.2.category}}/article/{{data.world.2.slug}}">
                    <img src="{{data.world.2.image.secure_url}}" alt="">
                </a>
                <ul class="article-info">
                    <li class="article-type">
                        <i class="fa fa-camera"></i>
                    </li>
                </ul>
            </div>
            <div class="article-body">
                <h3 class="article-title">
                    <a href="#">{{data.world.2.title}}</a>
                </h3>
                <ul class="article-meta">
                    <li>
                        <i class="fa fa-clock-o"></i> {{data.world.2.date}}</li>
                </ul>
                <p>{{{data.world.2.content.brief}}}</p>
            </div>
        </article>
        <!-- /ARTICLE -->
    </div>
    <!-- /Column 2 -->
</div>

<div class="row">
    <!-- Column 1 -->
    <div class="col-md-4 col-sm-4">
        <!-- ARTICLE -->
        <article class="article">
            <div class="article-img">
                <a href="/{{data.world.3.category}}/article/{{data.world.3.slug}}">
                    <img src="{{data.world.3.image.secure_url}}" alt="">
                </a>
                <ul class="article-info">
                    <li class="article-type">
                        <i class="fa fa-file-text"></i>
                    </li>
                </ul>
            </div>
            <div class="article-body">
                <h4 class="article-title">
                    <a href="/{{data.world.3.category}}/article/{{data.world.3.slug}}">{{data.world.3.title}}</a>
                </h4>
                <ul class="article-meta">
                    <li>
                        <i class="fa fa-clock-o"></i> {{data.world.3.date}}</li>
                </ul>
            </div>
        </article>
        <!-- /ARTICLE -->
    </div>
    <!-- /Column 1 -->

    <!-- Column 2 -->
    <div class="col-md-4 col-sm-4">
        <!-- ARTICLE -->
        <article class="article">
            <div class="article-img">
                <a href="/{{data.world.4.category}}/article/{{data.world.4.slug}}">
                    <img src="{{data.world.4.image.secure_url}}" alt="">
                </a>
                <ul class="article-info">
                    <li class="article-type">
                        <i class="fa fa-file-text"></i>
                    </li>
                </ul>
            </div>
            <div class="article-body">
                <h4 class="article-title">
                    <a href="#">{{data.world.4.title}}</a>
                </h4>
                <ul class="article-meta">
                    <li>
                        <i class="fa fa-clock-o"></i> {{data.world.4.date}}</li>
                </ul>
            </div>
        </article>
        <!-- /ARTICLE -->
    </div>
    <!-- /Column 2 -->

    <!-- Column 3 -->
    <div class="col-md-4 col-sm-4">
        <!-- ARTICLE -->
        <article class="article">
            <div class="article-img">
                <a href="/{{data.world.5.category}}/article/{{data.world.5.slug}}">
                    <img src="{{data.world.5.image.secure_url}}" alt="">
                </a>
                <ul class="article-info">
                    <li class="article-type">
                        <i class="fa fa-file-text"></i>
                    </li>
                </ul>
            </div>
            <div class="article-body">
                <h4 class="article-title">
                    <a href="/{{data.world.5.category}}/article/{{data.world.5.slug}}">{{data.world.5.title}}</a>
                </h4>
                <ul class="article-meta">
                    <li>
                        <i class="fa fa-clock-o"></i> {{data.world.5.date}}</li>
                </ul>
            </div>
        </article>
        <!-- /ARTICLE -->
    </div>
    <!-- /Column 3 -->
</div>